body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;
}

.brand img{
    width: 44px;
}

